.container {
  display: flex;
}

.left {
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
  width: 420px;
  height: 100%;
  min-width: 128px;
}

.databaseSelectorContainer {
  display: flex;
  align-items: center;
  height: 56px;
  padding-right: 8px;
  border-bottom: 1px solid var(--color-border);
}

.databaseSchemaTreeContainer {
  flex-grow: 1;
  min-height: 1px;
}

.main {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  min-width: 512px;
  height: 100%;
}

.verticalSplit {
  display: flex;
  flex-grow: 1;
  width: 100%;
}

.up {
  height: 40%;
}

.down {
  flex-grow: 1;
  min-height: 1px;
}
